      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <a class="navbar-brand">Televendor</a>
          </div>
      </div>
      
      <div class="container">
        <div class="jumbotron text-center">
            
            <%= form_tag do %>

            <p>
            <div class="col-sm-10">
                <%= label_tag(:token, "API Token:") %><br/>
                <%= text_field_tag(:token) %>
            </div>
            </p>
            
            <p>
            <div class="col-sm-10">
                <%= label_tag(:paytoken, "Payment Token:") %><br/>
                <%= text_field_tag(:paytoken) %>
            </div>
            </p>
            
            <p>
                <%= submit_tag("Submit") %>
            </p>
            
            <% end %>
        </div>
      </div>
      
      <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
          <div class="container">
              <div class="navbar-text pull-left">
                <p>© Telepaybot 2017</p>
              </div>
          </div>
          <div class="navbar-text pull-right">
              <a href='#'><i class="fa fa-telegram fa-spin fa-3x fa-fw"></i></a>
          </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>